<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iAquarium v.1.1.1</title>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" v-cloak="">
        <a class="navbar-brand" href="#">iAquarium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button v-if="system == 'NOT WORKING'" class="btn btn-danger">
                        <span class="fas fa-exclamation-triangle"></span>
                        <span>{{system}}</span>
                    </button>
                    <button v-if="system == 'WORKING'" class="btn btn-success">
                        <span class="fas fa-check-circle"></span>
                        <span>{{system}}</span>
                    </button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-warning my-2 my-sm-0 mr-2">Refresh</button>
            </form>
        </div>
    </nav>
    <div id="sensors" class="col-12 p-3" style="display: flex;">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card mb-3" style="background-color: #f0f0f0;">
                <div class="card-body" v-cloak="">
                    <div class="row">
                        <div class="col-8">
                            <h3>
                                <i class="fas fa-thermometer-empty"></i>
                                <span>Water temperature</span>
                            </h3>
                        </div>
                        <div class="col-4">
                            <div class="align-right">
                                <h3>
                                    <span>{{sensors.temperature.value}}  &#186C</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8">
                            <div>
                                <span>Time since last data update: </span>
                                <b>{{lastUpdateCounter}}s</b>
                            </div>
                            <div>
                                <span>Last data update date: </span>
                                <b>{{sensors.temperature.lastMeasurementTime}}</b>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="align-right">
                                <button v-on:click="refreshData" class="btn btn-outline-primary btn-sm">
                                    <span>Refresh sensors data</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="input-group pt-2">
                            <div class="input-group-addon">
                                <i class="fas fa-sync"></i>
                            </div>
                            <input type="text" v-model="configData.updateStateIntervalCroneCmd"
                                   class="form-control"
                                   placeholder="eg. 26">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="input-group pt-2">
                            <div class="input-group-addon">
                                <i class="fas fa-save"></i>&nbsp;
                                <i class="fas fa-thermometer-empty"></i>
                            </div>
                            <input type="text" v-model="configData.tempReadIntervalCroneCmd"
                                   class="form-control"
                                   placeholder="eg. 26">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="temp-chart">
                <div class="card mb-3" style="background-color: #f0f0f0;">
                    <div class="card-body">
                        <h4 class="card-title">Last temperatures</h4>
                        <div class="">
                            <line-chart></line-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="background-color: #f0f0f0;">
                <div class="card-body">
                    <h4 class="card-title">Automatic aquarium system</h4>
                    <p>Setting crone intervals data for automatic rpi program</p>
                    <pre>
*    *    *    *    *    *
┬    ┬    ┬    ┬    ┬    ┬
│    │    │    │    │    |
│    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)
│    │    │    │    └───── month (1 - 12)
│    │    │    └────────── day of month (1 - 31)
│    │    └─────────────── hour (0 - 23)
│    └──────────────────── minute (0 - 59)
└───────────────────────── second (0 - 59, OPTIONAL)
eg. * */30 * * * * -> call task every thirty minutes
                    </pre>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card mb-3" style="background-color: #f0f0f0;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>
                                <i class="fas fa-utensils"></i>
                                <span>Feeding</span>
                            </h3>
                        </div>
                        <div class="col-6">
                            <div class="align-right">
                                <button v-on:click="feed" v-if="!feedingPending" class="btn btn-success btn-md">
                                    <span>Feed now</span>
                                </button>
                                <button v-if="feedingPending" class="btn btn-default btn-md">
                                    <span>Pending...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8">
                            <span>Last feeding:</span>
                        </div>
                        <div class="col-4 align-right">
                            <span class="data-container">{{sensors.feeding.time}}</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="input-group pt-2">
                            <div class="input-group-addon">
                                <i class="fas fa-utensils"></i>
                                <span>&nbsp;ON</span>
                            </div>
                            <input type="text" v-model="configData.feedingIntervalCroneCmd"
                                   class="form-control"
                                   placeholder="eg. 26">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="background-color: #f0f0f0;">
                <div v-bind:class="{ 'non-active card-body': !sensors.heater.status, 'card-body': sensors.heater.status}">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-6">
                                <h3>
                                    <i class="fas fa-fire"></i>
                                    <span>Heater</span>
                                </h3>
                            </div>
                            <div class="col-6">
                                <div class="align-right">
                                    <button v-if="!sensors.heater.status && !heaterPending" v-on:click="toggleHeater"
                                            class="btn btn-success btn-md">
                                        <!--<i class="fas fa-toggle-on fa-2x"></i>-->
                                        <span>Turn on</span>
                                    </button>
                                    <button v-if="sensors.heater.status && !heaterPending" v-on:click="toggleHeater"
                                            class="btn btn-danger btn-md">
                                        <!--<i class="fas fa-toggle-off fa-2x"></i>-->
                                        <span>Turn off</span>
                                    </button>
                                    <button v-if="heaterPending" class="btn btn-default btn-md">
                                        <!--<i class="fas fa-circle-notch fa-spin fa-2x"></i>-->
                                        <span>Pending...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3 pt-3">
                            <div class="col-8">
                                <span>Heater staus:</span>
                            </div>
                            <div class="col-4 align-right">
                                <span class="data-container" style="color: green;"
                                      v-if="sensors.heater.status">
                                    <b>ON</b>
                                </span>
                                <span class="data-container" style="color: red;"
                                      v-if="!sensors.heater.status">
                                    <b>OFF</b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <span>Last heater switching:</span>
                            </div>
                            <div class="col-4 align-right">
                                <span class="data-container">{{sensors.heater.time}}</span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="input-group pt-2">
                                <div class="input-group-addon">
                                    <i class="fas fa-thermometer-empty"></i>
                                    <span>&nbsp;min</span>
                                </div>
                                <input type="text" v-model="configData.minTemperature" class="form-control"
                                       placeholder="eg. 22">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group pt-2">
                                <div class="input-group-addon">
                                    <i class="fas fa-thermometer-empty"></i>
                                    <span>&nbsp;max</span>
                                </div>
                                <input type="text" v-model="configData.maxTemperature" class="form-control"
                                       placeholder="eg. 26">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="background-color: #f0f0f0;">
                <div v-bind:class="{ 'non-active card-body': !sensors.light.status, 'card-body': sensors.light.status}">
                    <div class="row">
                        <div class="col-6">
                            <h3>
                                <span>
                                   <i class="fas fa-lightbulb"></i>
                                </span>
                                <span>Light</span>
                            </h3>
                        </div>
                        <div class="col-6">
                            <div class="align-right">
                                <button v-if="!sensors.light.status && !lightPending" v-on:click="toggleLight"
                                        class="btn btn-success btn-md">
                                    <span>Turn on</span>
                                </button>
                                <button v-if="sensors.light.status && !lightPending" v-on:click="toggleLight"
                                        class="btn btn-danger btn-md">
                                    <span>Turn off</span>
                                </button>
                                <button v-if="lightPending" class="btn btn-default btn-md">
                                    <span>Pending...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3 pt-3">
                        <div class="col-8">
                            <span>Light staus:</span>
                        </div>
                        <div class="col-4 align-right">
                            <span class="data-container" style="color: green;" v-if="sensors.light.status">
                                <b>ON</b>
                            </span>
                            <span class="data-container" style="color: red;" v-if="!sensors.light.status">
                                <b>OFF</b>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span>Last light switching:</span>
                        </div>
                        <div class="col-4 align-right">
                            <span class="data-container">{{sensors.light.time}}</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="input-group pt-2">
                            <div class="input-group-addon">
                                <i class="fas fa-power-off"></i>
                                <span>&nbsp;ON</span>
                            </div>
                            <input type="text" v-model="configData.lightSwitchingOnIntervalCroneCmd"
                                   class="form-control"
                                   placeholder="eg. 26">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group pt-2">
                            <div class="input-group-addon">
                                <i class="fas fa-power-off"></i>
                                <span>&nbsp;OFF</span>
                            </div>
                            <input type="text" v-model="configData.lightSwitchingOffIntervalCroneCmd"
                                   class="form-control"
                                   placeholder="eg. 26">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                    <i class="far fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="background-color: #f0f0f0;">
                <div v-bind:class="{ 'non-active card-body': !sensors.filter.status, 'card-body': sensors.filter.status}">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-6">
                                <h3>
                                    <i class="fas fa-filter"></i>
                                    <span>Filter</span>
                                </h3>
                            </div>
                            <div class="col-6">
                                <div class="align-right">
                                    <button v-if="!sensors.filter.status && !filterPending" v-on:click="toggleFilter"
                                            class="btn btn-success btn-md">
                                        <span>Turn on</span>
                                    </button>
                                    <button v-if="sensors.filter.status && !filterPending" v-on:click="toggleFilter"
                                            class="btn btn-danger btn-md">
                                        <span>Turn off</span>
                                    </button>
                                    <button v-if="filterPending" class="btn btn-default btn-md">
                                        <span>Pending...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3 pt-3">
                            <div class="col-8">
                                <span>Filter staus:</span>
                            </div>
                            <div class="col-4 align-right">
                                <span class="data-container" style="color: green;"
                                      v-if="sensors.filter.status">
                                    <b>ON</b>
                                </span>
                                <span class="data-container" style="color: red;"
                                      v-if="!sensors.filter.status">
                                    <b>OFF</b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <span>Last filter switching:</span>
                            </div>
                            <div class="col-4 align-right">
                                <span class="data-container">{{sensors.filter.time}}</span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="input-group pt-2">
                                <div class="input-group-addon">
                                    <i class="fas fa-power-off"></i>
                                    <span>&nbsp;ON</span>
                                </div>
                                <input type="text" v-model="configData.filterSwitchingOnIntervalCroneCmd"
                                       class="form-control"
                                       placeholder="eg. 26">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group pt-2">
                                <div class="input-group-addon">
                                    <i class="fas fa-power-off"></i>
                                    <span>&nbsp;OFF</span>
                                </div>
                                <input type="text" v-model="configData.filterSwitchingOffIntervalCroneCmd"
                                       class="form-control"
                                       placeholder="eg. 26">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" v-on:click="setConfigData()">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/jquery/dist/jquery.min.js"></script>
<script src="/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vue/dist/vue.js"></script>
<script src="/scripts/vue-resource/dist/vue-resource.js"></script>
<script src="/scripts/moment/moment.js"></script>
<script src="/scripts/chart.js/dist/Chart.js"></script>
<script src="/scripts/vue-chartjs/dist/vue-chartjs.js"></script>
<script src="/scripts/socket.io-client/dist/socket.io.js"></script>

<script src="/components/navbar/navbar.component.js"></script>
<script src="/components/sensors/sensors.component.js"></script>
<script src="/components/sensors/temp-chart.component.js"></script>


</body>
</html>
