.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.hr-margin {
    margin-top: 0px;
}

.data-container {
    background-color: #ccc;
    padding: 5px;
    border-radius: 2px;
}

.non-active {
    opacity: 0.5;
}